# Data Processing using Pyspark

In [ ]:
#configuraciÃ³n en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#instalar java y spark
!apt-get install openjdk-17-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.7/spark-3.5.7-bin-hadoop3.tgz
!tar xf spark-3.5.7-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.7-bin-hadoop3"

In [ ]:
import findspark
findspark.init()

In [ ]:
!mkdir -p /content/jars
!wget -q https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.4/hadoop-aws-3.3.4.jar -P /content/jars
!wget -q https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.12.367/aws-java-sdk-bundle-1.12.367.jar -P /content/jars

In [ ]:
from pyspark.sql import SparkSession

jars = "/content/jars/hadoop-aws-3.3.4.jar,/content/jars/aws-java-sdk-bundle-1.12.367.jar"

spark = SparkSession.builder \
    .appName("S3Connection") \
    .master("local[*]") \
    .config("spark.jars", jars) \
    .config('fs.s3a.access.key', "ASIA5NZ73N") \
    .config('fs.s3a.secret.key', "iG7FBVBKid7ZeHDBxTy") \
    .config('fs.s3a.session.token',"nKbUX/sqrQIIof//////////ARAAGgw5MjMw3nhXSy8KIUlbCFDjSqzho65d1mtnOuaCxAF2+PYwJHd/dbtdN2KM4cb7tFxL0NTGArc+S9dMfoe3hCFsc/fe/e5okAYKguI+OvpaTvuY1vUzSR2pcDTp44S1dnHsO7pm3Y5JCJ5Cm/DYiSQDGk3W00VL2JzA3HoAtVVjJK3d5olH0JXVxNWY5pdEhbd+SnC/3p2nAwHfvIMznMYnTR8ou/2eKMp5Yj6Y3nMcWamexJsvxTugicf2o8gBPSIK/AcVXNZeDwRj5yCisGIlHVlXFBrgOH8yYWg/W0MKDS6cgGOp0BHmcE7abeqTPsNtCRl3cz1MrzGtSuEWPNmdiW5CPaF+N2fjTF75b7uIxL1zUMqSS4xbB3Z02NAAqptOW8jLybRxxIm/9XzgR4JtFh9fmgMNaiziyCWprikuBKrfZw288ukBMoY0RwZKBadG7c233TmG18wWJXmJwTWCVAPxsjJ+0yiGhLiIQ35gZc4iEJKXodroIvfZNtzBIifV9XDQ==") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.endpoint", "s3.amazonaws.com") \
    .getOrCreate()

sc = spark.sparkContext

In [ ]:
# Load csv Dataset
# desde S3
df=spark.read.csv('s3a://emrsamuel/datasets/sample_data.csv',inferSchema=True,header=True)

In [ ]:
#columns of dataframe
df

DataFrame[ratings: int, age: int, experience: double, family: int, mobile: string]

In [ ]:
#check number of columns
len(df.columns)

5

In [ ]:
#number of records in dataframe
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [ ]:
#shape of dataset
print((df.count(),len(df.columns)))

(33, 5)

In [ ]:
#printSchema
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [ ]:
#fisrt few rows of dataframe
df.show(5)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
+-------+---+----------+------+-------+
only showing top 5 rows